<?xml version="1.0"?>
<robot name="linorobot2_mecanum" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="camera" params="namespace camera_pos x y z r_rs p_rs yaw_rs r_cam p_cam yaw_cam">

    <gazebo reference="${namespace}_${camera_pos}_gazebo_camera_frame">
    <sensor type="depth" name="${namespace}_${camera_pos}_camera">
      <update_rate>15.0</update_rate>
      
      <camera>
        <horizontal_fov>1.517</horizontal_fov>
        <image>
          <width>480</width>
          <height>270</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>5</far> <!--  Be sure to set this greater than the max value of the cropbox distance cutoff, the camera generates a grey plane at this distance that will be interpreted as an obstacle-->
        </clip>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>


      <plugin name="${namespace}_${camera_pos}_camera_controller" filename="libgazebo_ros_camera.so">
        <ros>
            <namespace>${namespace}</namespace>
            <!-- TODO - remap gazebo topics to ros topics that match the topics on a physical realsense -->
        </ros>
       
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>${camera_pos}_camera</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>${namespace}_${camera_pos}_rs_gazebo_camera_frame</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
    </sensor>
  </gazebo>

    <link name="${namespace}_${camera_pos}_rs_depth_optical_frame">
    </link>


    <joint
      name="${namespace}_base_link_to_${camera_pos}_rs" type="fixed">
      <origin
        xyz="${x} ${y} ${z}"
        rpy="${r_rs} ${p_rs} ${yaw_rs}" />
      <parent link="${namespace}_base_link" />
      <child link="${namespace}_${camera_pos}_rs_depth_optical_frame" />
    </joint>

    <link name="${namespace}_${camera_pos}_gazebo_camera_frame">
    </link>

    <joint
      name="${namespace}_base_link_to_${camera_pos}_gazebo_camera_frame" type="fixed">
      <origin
        xyz="${x} ${y} ${z}"
        rpy="${r_cam} ${p_cam} ${yaw_cam}" />
      <parent link="${namespace}_base_link" />
      <child link="${namespace}_${camera_pos}_gazebo_camera_frame" />
    </joint>

    


    

  </xacro:macro>
</robot>