<?xml version="1.0"?>
<robot name="linorobot2_mecanum" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find linorobot2_description)/urdf/mecanum_properties.urdf.xacro" />
  <xacro:include filename="$(find linorobot2_description)/urdf/mech/base.urdf.xacro" />
  <xacro:include filename="$(find linorobot2_description)/urdf/mech/mecanum_wheel_left_fixed.urdf.xacro" />
  <xacro:include filename="$(find linorobot2_description)/urdf/mech/mecanum_wheel_right_fixed.urdf.xacro" />
  <!-- <xacro:include filename="$(find linorobot2_description)/urdf/sensors/imu.urdf.xacro" /> -->
  <!-- <xacro:include filename="$(find linorobot2_description)/urdf/sensors/generic_laser.urdf.xacro" /> -->
  <!-- <xacro:include filename="$(find linorobot2_description)/urdf/sensors/depth_sensor.urdf.xacro" /> -->
  <!-- <xacro:include filename="$(find linorobot2_description)/urdf/controllers/omni_drive.urdf.xacro" /> -->

  <xacro:include filename="$(find linorobot2_description)/urdf/mech/end_channel.urdf.xacro" />
  <xacro:include filename="$(find linorobot2_description)/urdf/mech/side_channel.urdf.xacro" />
  <xacro:include filename="$(find linorobot2_description)/urdf/robots/camera.urdf.xacro" />

  <xacro:camera camera_pos="front" x="0.410335" y="0" z="0.0892" 
                                   r_rs="-1.57" p_rs="0" yaw_rs="-1.57" />

  <xacro:camera camera_pos="left" x="0.0" y="0.247" z="0.089" 
                                  r_rs="-1.57" p_rs="0.0" yaw_rs="0"/>

  <xacro:camera camera_pos="rear" x="-0.41" y="0.0" z="0.089" 
                                  r_rs="-1.57" p_rs="0" yaw_rs="1.57" />

  <xacro:camera camera_pos="right" x="0" y="-0.247" z="0.089" 
                                  r_rs="-1.57" p_rs="0" yaw_rs="3.14"/>


  <gazebo>
    <plugin name="mecanum_wheel_mimic" filename="libgazebo_ros_planar_move.so">
      <ros>
        <remapping>odom:=odom/unfiltered</remapping>
      </ros>
      <command_topic>cmd_vel</command_topic>
      <odometry_topic>odom/unfiltered</odometry_topic>
      <odometry_frame>odom</odometry_frame>
      <odometry_rate>20.0</odometry_rate>
      <robot_base_frame>base_footprint</robot_base_frame>
      <publish_odom>true</publish_odom>
      <publish_odom_tf>true</publish_odom_tf>
    </plugin>
  </gazebo>


  


  <xacro:base 
    length="${base_length}" 
    width="${base_width}" 
    height="${base_height}" 
    mass="${base_mass}"
    wheel_radius="${wheel_radius}"
    wheel_pos_z="${wheel_pos_z}"
  />

  <xacro:end_channel 
    end="front"
    pos_x="0.383345"
  />

  <xacro:end_channel 
    end="back"
    pos_x="-0.383345"
  />

  <xacro:side_channel 
    side="left"
    pos_y="0.23653"
  />

  <xacro:side_channel 
    side="right"
    pos_y="-0.23653"
  />

  <xacro:mecanum_wheel_left 
    side="left"
    end="front"
    radius="${wheel_radius}" 
    width="${wheel_width}" 
    pos_x="${wheel_pos_x}" 
    pos_y="${wheel_pos_y}" 
    pos_z="${wheel_pos_z}" 
    mass="${wheel_mass}"
  />

  <xacro:mecanum_wheel_right
    side="right"
    end="front"
    radius="${wheel_radius}" 
    width="${wheel_width}" 
    pos_x="${wheel_pos_x}" 
    pos_y="${-wheel_pos_y}" 
    pos_z="${wheel_pos_z}" 
    mass="${wheel_mass}"
  />

  <!-- Back wheels mechanum style swapped (left mecanum wheel goes on right side of robot, and vice versa) -->

  <xacro:mecanum_wheel_right 
    side="left"
    end="rear"
    radius="${wheel_radius}" 
    width="${wheel_width}" 
    pos_x="${-wheel_pos_x}" 
    pos_y="${wheel_pos_y}" 
    pos_z="${wheel_pos_z}" 
    mass="${wheel_mass}"
  />

  
  <xacro:mecanum_wheel_left 
    side="right"
    end="rear"
    radius="${wheel_radius}" 
    width="${wheel_width}" 
    pos_x="${-wheel_pos_x}" 
    pos_y="${-wheel_pos_y}" 
    pos_z="${wheel_pos_z}" 
    mass="${wheel_mass}"
  />

  

  

</robot>