<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="mecanum_wheel_right" params="side end pos_x pos_y">
    
    <link name="${end}_${side}_wheel">
      <inertial>

        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="2.0"/>
        <inertia
          ixx="0.000526666667"
          ixy="0"
          ixz="0"
          iyy="0.000526666667" 
          iyz="0"
          izz="0.001"/>
        
      </inertial>
      <visual>

        <geometry>
          <cylinder radius="0.07162" length="0.05"/>
        </geometry>

        <material name="gray">
          <color rgba="0.70 0.70 0.73 1.0"/>
        </material>
        
      </visual>
      <collision>

        <geometry>
          <cylinder radius="0.07162" length="0.05"/>
        </geometry>
        
      </collision>
    </link>

    <joint name="base_link_to_${end}_${side}_wheel" type="fixed">
      <origin xyz="${pos_x} ${pos_y} 0"  rpy="0 0 0" />
      <parent link="base_link" />
      <child link="${end}_${side}_wheel" />
    </joint>

  
    

  </xacro:macro>
</robot>