<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="mecanum_wheel_right" params="side end pos_x pos_y">
    
    <link name="${end}_${side}_wheel">
      <inertial>
        <origin
        xyz="-1.48571881243385E-15 -6.7886631592007E-16 -0.0136209233699844"
        rpy="0 0 0" />
      <mass
        value="0.0396439871820506" />
      <inertia
        ixx="3.76805204137311E-05"
        ixy="1.66580607308995E-20"
        ixz="3.71031510257902E-18"
        iyy="3.76805204137311E-05"
        iyz="1.63812405352096E-18"
        izz="7.1054120055567E-05" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://linorobot2_description/mecanum_wheel_right/meshes/fixed_wheel.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://linorobot2_description/mecanum_wheel_right/meshes/fixed_wheel.STL" />
        </geometry>
      </collision>
    </link>

    <joint name="base_link_to_${end}_${side}_wheel" type="fixed">
      <origin xyz="${pos_x} ${pos_y} 0"  rpy="0 0 0" />
      <parent link="base_link" />
      <child link="${end}_${side}_wheel" />
    </joint>

  
    

  </xacro:macro>
</robot>