<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  
  <xacro:include filename="$(find linorobot2_description)/urdf/mech/roller_left.urdf.xacro" />

  <xacro:macro name="mecanum_wheel_left" params="side end pos_x pos_y">
    
    <link name="${end}_${side}_wheel">
      <inertial>
        <origin
          xyz="-3.9077136779291E-16 -0.0136205707454137 -1.44489682185117E-14"
          rpy="0 0 0" />
        <mass
          value="0.039620820516108" />
        <inertia
          ixx="3.76577202480009E-05"
          ixy="-1.07908308681007E-19"
          ixz="3.89356499633093E-22"
          iyy="7.10123305553507E-05"
          iyz="-1.66085499471637E-18"
          izz="3.76577202480009E-05" />
      </inertial>
      <visual>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://linorobot2_description/mecanum_wheel_left/meshes/fixed_wheel.STL" />
        </geometry>
        <material
          name="">
          <color
            rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
        </material>
      </visual>
      <collision>
        <origin
          xyz="0 0 0"
          rpy="0 0 0" />
        <geometry>
          <mesh
            filename="package://linorobot2_description/mecanum_wheel_left/meshes/fixed_wheel.STL" />
        </geometry>
      </collision>
    </link>


    <joint name="base_link_to_${end}_${side}_wheel" type="fixed">
      <origin xyz="${pos_x} ${pos_y} 0"  rpy="0 0 0" />
      <parent link="base_link" />
      <child link="${end}_${side}_wheel" />
    </joint>

  </xacro:macro>
</robot>